<%- include("./layouts/header.ejs") %>


    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->

        <% if(posts.length>0 ){
            for(let i =0;i<posts.length; i++){ %>
                <div class="row gx-4 gx-lg-5 align-items-center my-5">
                    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                            src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
                    <div class="col-lg-5">
                        <h1 class="font-weight-light">
                            <%= posts[i].title %>
                        </h1>
                        <p>
                            <%= posts[i].content %>
                        </p>
                        <a class="btn btn-primary" href="/post/<%= posts[i]._id %>">Read More</a>
                    </div>
                </div>
                <% } } else { %>
                    <h1>Posts not available</h1>
                    <% } %>
    </div>



    <%- include("./layouts/footer.ejs") %>